.container{
	display: flex;
	flex-flow: column;
	margin:  50px auto;
	width: 70%;
}
.AppLogo{
	margin: 0px auto;
}
.AppLogoImg{
	background-image: url('https://i.imgur.com/KyvVIUf.png');
    width: 460px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: contain;    
}
.numpad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.numpad button{
    flex: 30% 1;
    margin: 4px;
}
.fbox{
	display: flex;
}
.fbox.clm{
	flex-flow: column;
}
.canvas{
	margin: 10px auto;
}
