body{
  height: auto!important;
  overflow-y: auto!important;
}
.container{
	display: flex;
  transition: .15s linear all;
}
.container2{
	display: flex;
	flex-flow: column;
}
.containerbig{
    margin: 0px auto;
    width: 60%;  
}
.oneDiv{
   margin: 0 5px;
   text-align: right;
   z-index: 2;
}
.leftAlg .oneDiv{
   text-align: left;
}
.profit{
  color: #18ff6d;
  font-weight: bold;
}
.loss{
  color: #ec5300;
  font-weight: bold;  
}
.nothing{
  color: #888888;
  font-weight: bold;  
}

.draw{ flex: 2 1 auto; width: 15%; }
.coin{ flex: 5% 1; }
.price{ flex: 5% 1; }
.volume{ flex: 5% 1;  }
.total{ flex: 5% 1;  }
.change{ flex: 5% 1;  }
.name{ flex: 5% 1;  }
.utxos{ flex: 0 1 auto; width: 10%;  }

.r_side_bar .price{ min-width: 105px; }
.r_side_bar .change{ min-width: 65px; }
.r_side_bar .name{ min-width: 95px; }
.r_side_bar .coin{ min-width: 25px; }
.r_side_bar .section_header{ padding: 10px!important; }
.r_side_bar .oneDiv{ text-align: left; }

.section{
   border-radius: 5px;
   overflow: hidden;
   margin: 8px 20px;
}
.section_header{
   padding: 10px;
   font-weight: bold;
   cursor: pointer;
   /*opacity: .7;*/
   text-align: center;
}
.section_header .oneDiv:hover{
   opacity: 1;
}
.r_side_bar{ font-size: 14px;}
.w_bar{ flex: 1 1 auto; }
.graph_bar{
  background: none;
}
.trades_bar{height:250px;}
/*.bs_bar{height: ;}*/
.nav{
    display: flex;
    height: 120px;
    justify-content: flex-end;
    align-items: center;	
    flex: 1 1 auto;
}
.nav button{
	margin: 0 10px;
}
.section2{
	display: flex;
}

.buysell{
	display: flex;
	flex-direction: column;
	padding: 20px;
    flex: 50% 1;
}
.bs_tr{
	display: flex;
	margin: 5px 0;
    flex-direction: column;
}
.bs_tr_row{
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.nomargin .AppLogo{
    margin: 35px 80px;	
}
.basevalue{
	opacity: .75;
	font-size: 85%;
}

.switches{
	flex: 30% 1;
}
.switchGroup{
  /*
	max-height: 280px;
	overflow: auto;
  */
	flex-direction: row!important;
  padding: 40px;
}

.tr{
  display: flex;
  padding: 10px;
  position: relative;
}
.r_side_bar .tr:hover:not(.basetr),.r_side_bar .selectedtr,.buysell .tr:hover:not(.basetr),.buysell .selectedtr{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}
.basetr{
  cursor: default;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  box-shadow: 19px 3px 10px #3c3c3c;  
}
.tr.rsearch,.tr.rsearch:hover{
  background: none;
  cursor: default;
}
.tr.rsearch.rsearch_hidden{
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: .15s linear all;  
}
.r_side_bar:hover .tr.rsearch.rsearch_hidden{
  height:auto;
  padding: 10px;
}
.bs_order_header{
  background: rgba(0,0,0,.1);
  font-size: 14px;
}
.canvas{
   margin: 10px auto;
}
.loadingBar{
  background: rgba(0,0,0,.5);
  /*border: 2px dashed rgb(255, 192, 14);*/
  width: 100%;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
}
.loadingBar_inner{
  height: 100%;
  background: rgb(255, 192, 14);
  background: linear-gradient(180deg, rgba(255, 192, 14,1) 45%, rgb(226, 174, 27));
  width: 100%;
  transition: .15s linear width;


  animation-name: loadingFake;
  animation-duration: 37s;  
}
@keyframes loadingFake{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

.error_overlay{
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;  
  z-index: 100000;

  animation-name: showUp;
  animation-duration: .3s;
  flex-direction: column;
}
.error_small{
    padding: 50px;
    box-shadow: 18px 13px 10px #585858;
    background: rgba(255, 46, 46, 0.9);  
}
.error_small.no_error{
  background: rgba(73, 247, 52, 0.9);
}
.error_header{
    font-size: 35px;
    font-weight: bold;
}
.error_text{
    font-size: 18px;
}
.invisible{display: none!important;}
@keyframes showUp{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
.number_trail{
  opacity: .5;
}
.hint{
  font-size:  70%;
  opacity: .7;
}
.container_buttons{
  display: flex;
  flex-wrap: wrap;
}
.container_buttons button{
  flex: 30% 1;
}
  /*
.right_list{
  flex: 10% 1 !important;
  max-width: 25%;
}
  */
.myorder{
  background: rgba(0,0,0,.1)
}
.volumeSpread{
    position: absolute;
    height: 40%;
    top: 30%;
    left: 0;
}
/*
.sellBox .volumeSpread{background: #f19595;}
.buyBox .volumeSpread{background: rgba(126, 255, 102,1)}
*/

.pad{
    display: flex;
    padding: 20px;
    align-items: center;
    height: 30px; 
}
.loadingBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadingText{
    font-size: 14px;
    margin: 10px 0;
}
table{
  /*box-shadow: 0 0 10px #d2d2d2;*/
}
.debugboxcontainer{
  width:  80%;
}
.debugbox{
  margin: 10px;
  padding: 10px;
  background: #272727;
  box-shadow: 0 0 5px #333;
  font-size: 14px;
  word-wrap: break-word;
}
.inputbox,.outputbox{
  background: rgba(0,0,0,.1);
  padding: 5px;
  margin: 5px;
  max-height: 250px;
  overflow: auto;
}
.inputbox{ border-left: 4px solid green; }
.outputbox{ border-left: 4px solid red; }

.noHeight{
  height: 0px;
  max-height: 0px;
  overflow: hidden;
}

.invdisp{
  font-size: 13px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 10px;
}
.label{
  font-weight: bold;
}
.labelval{
  margin: 0px 4px;
}
.col{
  flex: 49% 1; 
  border-right: 1px solid rgba(0,0,0,.1);
}
.info{
  font-size: 18px;
  color: #a7a7a7;
  padding: 24px;
}

.customLogo{
    background: #18ff6d;
    margin-right: 5px;
    border-radius: 100%;
    padding: 7px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 12px;
    width: 12px;
    text-align: center;
    line-height: 15px;
    box-shadow: 2px 3px 5px #424242;
}
.padbox{
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.isBlur{
  filter: blur(4px);
}


.bflex{
    display: flex;
    align-items: center;
    width: 100%;
}
.bflextxt{
    flex: 1 1 auto;
}
.bflexicon{
    flex: 0 1 auto;
    padding: 10px;    
    background: rgba(0,0,0,.1);
    transition: .15s linear background, .5s linear transform;
    border-radius: 0;
}
.bflex:hover .bflexicon{
    background: rgba(0,0,0,.4);
    transform: rotateY(180deg);
    color: #FFF;
    border-radius: 50%;
}
.bflexiconthin{
    padding: 0;
    margin: 0 5px;
    background: none!important;
}


@media screen and (max-width: 900px) {
  .container{
     flex-direction: column;
  }
  table{
    width:  90%;
  }
}
@media screen and (max-width: 860px) {
  .section2{
     flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .nav{
    height: auto;
    flex-direction: column;
  }
}
.trflex{
  align-items: center;
}
.widthauto{
  width: auto;
}
.botpercentageholder{
    width: 50%;
    background: rgba(0,0,0,.1);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    height: 10px;
    flex: 0 1 auto;
    border: 1px solid rgba(0, 0, 0, 0.27);
    margin: 0 10px;
}
.botpercentage{
    background: #8fffa2;
    height: 100%;
    transition: .15s linear;  
    width: 0%;
}
.col{
  display: flex;
  flex-direction: column;
}
.bigbot{
    font-size: 65px;
}
.dim{
  opacity: .4;
  cursor: default;
}