body{
  height: auto!important;
  overflow-y: auto!important;
}
.container{
	display: flex;
}
.container2{
	display: flex;
	flex-flow: column;
}
.oneDiv{
	margin: 0 5px;
    text-align: right;
}
.profit{
  color: #40ff40;
  font-weight: bold;
}
.loss{
  color: #ff2992;
  font-weight: bold;  
}
.nothing{
  color: #f3d42c;
  font-weight: bold;  
}

.draw{ flex: 2 1 auto; width: 15%; }
.coin{ flex: 5% 1;  }
.name{ flex: 5% 1;  }
.price{ flex: 5% 1;  }
.volume{ flex: 5% 1;  }
.change{ flex: 5% 1;  }
.total{ flex: 5% 1;  }
.section{
   background: rgba(28, 33, 66, 0.25);
   border-radius: 5px;
   overflow: hidden;
   margin: 8px 20px;
}
.section_header{
   background: #175d42;
   padding: 10px;
   font-weight: bold;
   cursor: pointer;
   color: #e8e7e7;
   text-align: center;
}
.section_header .oneDiv:hover{
   color: #FFF;
}
.r_side_bar{ min-height: 500px; font-size: 14px;}
.w_bar{ min-height: 400px; flex: 1 1 auto; }
.graph_bar{
  background: none;
}
.trades_bar{height:250px;}
/*.bs_bar{height: ;}*/
.nav{
    display: flex;
    height: 120px;
    justify-content: flex-end;
    align-items: center;	
    flex: 1 1 auto;
}
.nav button{
	margin: 0 10px;
}
.section2{
	display: flex;
}

.buysell{
	display: flex;
	flex-direction: column;
	padding: 20px;
    flex: 50% 1;
}
.bs_tr{
	display: flex;
	margin: 5px 0;
    flex-direction: column;
}
.bs_tr_row{
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.nomargin .AppLogo{
    margin: 35px 80px;	
}
.basevalue{
	opacity: .75;
	font-size: 85%;
}

.switches{
	flex: 30% 1;
}
.switchGroup{
	max-height: 280px;
	overflow: auto;
	flex-direction: row!important;
}

.tr{
  display: flex;
  padding: 10px;
}
.tr:hover:not(.basetr),.selectedtr{
  cursor: pointer;
  background: rgba(11, 51, 28, 0.38);
}
.bs_order_header{
  background: rgba(0,0,0,.1);
  font-size: 14px;
}
.canvas{
   margin: 10px auto;
}
.loadingBar{
  background: rgba(0,0,0,.5);
  /*border: 2px dashed rgb(255, 192, 14);*/
  width: 100%;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
}
.loadingBar_inner{
  height: 100%;
  background: rgb(255, 192, 14);
  background: linear-gradient(180deg, rgba(255, 192, 14,1) 45%, rgb(226, 174, 27));
  width: 100%;
  transition: .15s linear width;


  animation-name: loadingFake;
  animation-duration: 37s;  
}
@keyframes loadingFake{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

.error_overlay{
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(255, 46, 46, 0.9);
  color: #FFF;

  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;  
  z-index: 100000;
  


  animation-name: showUp;
  animation-duration: .3s;  

}
.error_text{
  font-size: 25px;
}
.invisible{display: none!important;}
@keyframes showUp{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
.number_trail{
  opacity: .5;
}
.hint{
  font-size:  70%;
  opacity: .7;
}
.container_buttons{
  display: flex;
  flex-wrap: wrap;
}
.container_buttons button{
  flex: 30% 1;
}